<p>
  <label>Name</label>
  <%= text_field :name, @student.name %>
</p>
<p>
  <label>Hometown</label>
  <%= text_field :hometown, @student.hometown %>
</p>
<p>
  <label>Birthday</label>
  <%= date_field :birthday, @student.birthday %>
</p>
  <%= submit_tag "Submit Student" %>